llvmlite>=0.39.0
plotly
pandas
pdf2image
pathlib
PyMuPDF
opencv-python
opencv-contrib-python
opencv-python-headless==4.9.0.80
librosa
streamlit
numpy
streamlit_lottie 
streamlit_javascript
torch
transformers
textblob
wordcloud
matplotlib
pillow
